################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/docs
/privatedocs
/sections/it
/src/obj
/Original LICENSE Hol Zero.txt
/.vs/nholz
/experiments/it/prop_rules.fsx
/scripts/prop.fsx
/nholz.tests/bin/Debug/netcoreapp3.1/NHamcrest.dll
/nholz.tests/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
/nholz.tests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
/nholz.tests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.Common.dll
/nholz.tests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.CodeCoverage.Shim.dll
/nholz.tests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.Utilities.dll
/nholz.tests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.PlatformAbstractions.dll
/nholz.tests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CrossPlatEngine.dll
/nholz.tests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CoreUtilities.dll
/nholz.tests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CommunicationUtilities.dll
/nholz.tests/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/ko/FSharp.Core.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/ja/FSharp.Core.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/it/FSharp.Core.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/FsUnit.Xunit.dll
/nholz.tests/bin/Debug/netcoreapp3.1/FSharp.Core.dll
/nholz.tests/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/fr/FSharp.Core.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/es/FSharp.Core.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/de/FSharp.Core.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/cs/FSharp.Core.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/pl/FSharp.Core.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/NuGet.Frameworks.dll
/nholz.tests/bin/Debug/netcoreapp3.1/nholz.xml
/nholz.tests/bin/Debug/netcoreapp3.1/nholz.tests.runtimeconfig.json
/nholz.tests/bin/Debug/netcoreapp3.1/nholz.tests.runtimeconfig.dev.json
/nholz.tests/bin/Debug/netcoreapp3.1/nholz.tests.pdb
/nholz.tests/bin/Debug/netcoreapp3.1/nholz.tests.exe
/nholz.tests/bin/Debug/netcoreapp3.1/nholz.tests.dll
/nholz.tests/bin/Debug/netcoreapp3.1/nholz.tests.deps.json
/nholz.tests/bin/Debug/netcoreapp3.1/nholz.pdb
/nholz.tests/bin/Debug/netcoreapp3.1/nholz.dll
/nholz.tests/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/ru/FSharp.Core.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/pt-BR/FSharp.Core.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/xunit.execution.dotnet.dll
/nholz.tests/bin/Debug/netcoreapp3.1/xunit.core.dll
/nholz.tests/bin/Debug/netcoreapp3.1/xunit.assert.dll
/nholz.tests/bin/Debug/netcoreapp3.1/xunit.abstractions.dll
/nholz.tests/bin/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/tr/FSharp.Core.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/testhost.dll
/nholz.tests/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/zh-Hant/FSharp.Core.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/zh-Hans/FSharp.Core.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/xunit.runner.visualstudio.dotnetcore.testadapter.dll
/nholz.tests/bin/Debug/netcoreapp3.1/xunit.runner.utility.netcoreapp10.dll
/nholz.tests/bin/Debug/netcoreapp3.1/xunit.runner.reporters.netcoreapp10.dll
/nholz.tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/nholz.tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/nholz.tests/obj/project.assets.json
/nholz.tests/obj/nholz.tests.fsproj.nuget.g.targets
/nholz.tests/obj/nholz.tests.fsproj.nuget.g.props
/nholz.tests/obj/nholz.tests.fsproj.nuget.dgspec.json
/nholz.tests/obj/nholz.tests.fsproj.nuget.cache
/nholz.tests/obj/Debug/netstandard2.0/nholz.tests.fsprojAssemblyReference.cache
/nholz.tests/obj/Debug/netstandard2.0/nholz.tests.fsproj.CoreCompileInputs.cache
/nholz.tests/obj/Debug/netstandard2.0/nholz.tests.assets.cache
/nholz.tests/obj/Debug/netstandard2.0/nholz.tests.AssemblyInfoInputs.cache
/nholz.tests/obj/Debug/netstandard2.0/nholz.tests.AssemblyInfo.fs
/nholz.tests/obj/Debug/netcoreapp3.1/nholz.tests.pdb
/nholz.tests/obj/Debug/netcoreapp3.1/nholz.tests.fsprojAssemblyReference.cache
/nholz.tests/obj/Debug/netcoreapp3.1/nholz.tests.fsproj.FileListAbsolute.txt
/nholz.tests/obj/Debug/netcoreapp3.1/nholz.tests.fsproj.CoreCompileInputs.cache
/nholz.tests/obj/Debug/netcoreapp3.1/nholz.tests.fsproj.CopyComplete
/nholz.tests/obj/Debug/netcoreapp3.1/nholz.tests.exe
/nholz.tests/obj/Debug/netcoreapp3.1/nholz.tests.dll
/nholz.tests/obj/Debug/netcoreapp3.1/nholz.tests.assets.cache
/nholz.tests/obj/Debug/netcoreapp3.1/nholz.tests.AssemblyInfoInputs.cache
/nholz.tests/obj/Debug/netcoreapp3.1/nholz.tests.AssemblyInfo.fs
/nholz.tests/nholz.tests.fsproj
/manuale/prova.html
