################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/privatedocs
/sections/it
/src/obj
/src/bin
/Original LICENSE Hol Zero.txt
/.vs/nholz
/experiments/it/prop_rules.fsx
/scripts/prop.fsx
/nholz.tests/bin
/manuale/prova.html
/.vs/slnx.sqlite
/nholz.tests/obj
/.vs/VSWorkspaceState.json
.fsdocs/
output/
tmp/
.fake